<h1>Add Review</h1>
  <%# reviews_path %>
  <% #restaurant_reviews_path %>
<%= simple_form_for [@restaurant, @review]  do |f| %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>


  <%# reviews_path %>
  <%# restaurant_reviews_path %>
